ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block !important;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px; /* or 950px */
  }


#menu-footer-menu.menu  {
    float:left;
    list-style:none;
}



#meta {
    color:white;
}

.date.meta{
    color:white;
}
.pagination {
    align-content: center;
}
